wordpress/*
!wordpress/wp-content/
wordpress/wp-content/index.php
wordpress/wp-content/plugins/

# packages
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# PHPStorm
.idea/

# Docker
.docker/db/
