# ignore everything in the "wp-content" directory, except "themes" directory
wp-content/*
!wp-content/themes/

# packages
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# PHPStorm
.idea/
